{% extends "todo_app/base.html" %}

{% block title %}
  ABOUT PAGE
{% endblock title %}

{% block content %}
  
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4"><center>TO-DO LIST</center></h1>
        <p class="lead"><center>This TO-DO LIST Application is basic but very useful. I'm sure that you will like it</center></p>
        <p class="lead"><center>Once you’ve written a task on your to-do list, it can’t be forgotten.<br>That clears up your mind to focus on the specific issue at hand<br>and you can come back to what you’ve written down later.</center></p>
        <p class="lead"><center>Due to this application you can update the list whenever you want</center></p>
        <p class="lead"><center>If you completed the task, you can cross out the line or delete list completely</center></p>
        <p class="lead"><center>There is also a button of Add To-Do List in the right corner, so you can easily add items your list</center></p>
        <p class="lead"><center>If you have any questions, you can contact me</center></p>
        
        <br><br>
      <div class="text-center">
        <button type="button" class="btn btn-outline-success">Create TO-DO List</button>
      </div>

      
      <br><br><br>
      
        <p class="lead"><center>contact: senashn99@outlook.com |<a href="mailto:senashn99@outlook.com"> Send mail</center></a></p>
        <p class="lead"><center>2020 © Copyright</center></a>

      
    </div>
  </div>
{% endblock content %}